body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal{
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-content{
    background-color: #fdf3f4;
    margin: auto;
    padding: 30px;
    border: 1px solid #282828;
    border-radius: 12px;
    width: 70%;
}

.close{
    color: red;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

.close:hover, .close:focus{
    color: #282828;
    text-decoration: none;
    cursor: pointer;
}