* {
    box-sizing: border-box;
}

body{
    margin: 0;
    min-width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todolist-header{
    background-color: #000;
    padding: 30px 42px;
    color: white;
    text-align: center;
}

.todolist-header::after{
    content: "";
    display: table;
    clear: both;
}

#todolist-input{
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 15px;
    margin: 0;
    border: none;
    border-radius: 0; /* could have one */
}

.create-button{
    padding: 10px;
    background-color: #4a70a9;
    font-size: 15px;
    width: 30%;
    color: white;
    float: left;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.create-button:hover:hover{
    background-color: #efece3;
    color: #000;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    /* positioned parent */
    position: relative;
    background-color: #efece3;
    list-style: none;
    cursor: pointer;
    padding: 10px 6px 10px 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;

    /* make the list unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

ul li:nth-child(odd){
    background-color: #8fabd4;
}

ul li:hover{
    background-color: #4a70a9;
}

ul li:checked{
    background: #282828;
    color: white;
    text-decoration: line-through;
}

ul li:checked::before{
    content: "";
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0; /* try shorthand */
    top: 10px;
    left: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 10px 15px;
}

.close:hover{
    background: #f43c2f;
}